@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(99, 39, 39);
  color: white;
  margin: 0;
  height: 100vh;
}

ul li {
  list-style-type: none;
}